.ie23s-padding-card {
    padding: 0 0.75rem !important;
}

.ie23s-auto-margin-0 {
    display: block !important;
    margin: 0 auto !important;
}

.ie23s-right {
    position: absolute;
    right: 0;
}

.ie23s-red-gb {
    background-color: #d32f2f !important;
}

.ie23s-hidden {
    display: none;
}

.hidden {
    display: none;
}